name: build docker image and push to docker hub

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  buildx:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: QEMU
        uses: docker/setup-qemu-action@v3

      - name: Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Available build platforms
        run: echo ${{ steps.buildx.outputs.platforms }}

      - name: Docker Hub login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64/v8
          push: true
          tags: ${{ vars.IDE_DOCKER_IMAGE }}
          build-args: |
            IDE_DOCKER_IMAGE=${{ vars.IDE_DOCKER_IMAGE }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
